body{
    background-color: black;
}

#title-project{
    color: white;
}




#links a{
    margin-left: 15px;
    text-decoration: none;
    color:white;
    transition: 0.4s;
}

#links a:hover{
    color:red;
}

#links a:active{
    border: 1px red solid;
}

#links{
    flex-wrap: wrap;
}


#out-photos{
    flex-wrap: wrap;
    gap: 15px;
    width:80%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

#our-pics{
    flex-wrap: wrap;
    gap: 15px;
    width:80%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

#our-pics img{
    width:300px;
}


#load-more{
    color:red;
    text-align: center;
    transition: 0.4s;
    margin-top: 20px;
    cursor: pointer;
}

#load-more:hover{
    color:white;
}

#load-less{
    text-align: center;
    
    cursor: pointer;
    display: none;
}

#load-less a{
    text-decoration: none;
    color:red;
    transition: 0.4s;
}

#load-less a:hover{
    color:white;
}


.sec-pic-2{
    display:none;
}

.show-sec-pic-2{
    background-color: red;
    flex-wrap: wrap;
    gap: 15px;
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top:30px;
    display:block;
}








.photo:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
}

.photo{
    position: relative;
    transition: 0.4s;
}

.photo .photo-text{
    width: 100%;
    height: 100%;
    position: absolute;
    top:30%;
    color:white;
    text-align: center;
    display: none;
    opacity: 1;
    
}



.photo .photo-text h4{
    font-size:18px;
}

.photo .photo-text p{
    font-size: 12px;
}


.sec-pic-1{
    display: block;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.show{
display:none;
}

.digital-div{
    display:none;
}

.show-digital{
    display: block;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.d-design-div{
    display: none;
}

.show-d-design{
    display: block;
}

.grafics-div{
    display:none;
}

.show-grafics{
    display: block;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btl-div{
    display:none;
}

.show-btl{
    display: block;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.production-div{
    display:none;
}

.show-production{
    display: block;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.webmobileapps-div{
    display:none;
}

.show-webmobileapps{
    display: block;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

/* ============our videos================ */

#our-videos{
    display: flex;
    justify-content:center;
    margin: auto;
    flex-wrap: wrap;
    width:80%;
    gap:10px 20px;
}

.video-poster{
    width: 350px;
    height: 200px;
}

.video-poster-card{
    position: relative;
    
}

.video-poster-card p{
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    flex-wrap: wrap;
    
    width: 350px;
}


.video-btn-icon{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius:  50%; 
    top: 30%;
    right: 39%;
   cursor: pointer;
}

/* ============our videos================ */






/* ============small footer============ */
#small-footer div{
    margin-left: 30px;
}

#small-footer{
    width: 100%;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.148);
    display: flex;
    justify-content: center;
    align-items: center;
}


.small-footer-link-div a{
    color: white;
    font-size: 12px;
    transition: 0.4s;
    text-decoration: none;
}

.small-footer-link-div a:hover{
    color: red;
}

.small-footer-link-div i{
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.small-footer-link-div i:hover{
    color:red
}

/* ============small footer============ */





/* ============ footer============ */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.312);
    padding-bottom: 50px;
    height: 220px;
}

footer #footer-left-div{
    width: 25%;
    
    height: 200px;
}

footer #footer-left-div p{
    color: white;
    font-size: 12px;
    margin-top: 40px;
}


footer #footer-left-div h1 a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: 700;
}

footer #footer-center-div{
    
    width: 25%;
    height: 200px;
    margin-left: 20px;
}

footer #footer-center-div h1{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}

footer #footer-center-div img{
    width:80px;
    height: 80px;
    transition: 0.3s;
}

footer #footer-center-div img:hover{
    opacity: 0.7;
}


footer #footer-right-div{
    width: 25%;
    
    height: 200px;

}

footer #footer-right-div h1{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;

}

footer #footer-right-div p{
    font-size: 12px;
    color: white;
}

footer #footer-right-div p a{
    color:white;
    transition: 0.3s;
}

footer #footer-right-div p a:hover{
    color:red;
}



/* ============ footer============ */
